In [1]:
# Import dependencies
import pandas as pd

In [3]:
# Read in files
identity_df = pd.read_csv('datafiles/train_identity.csv')
transaction_df = pd.read_csv('datafiles/train_transaction.csv')

In [4]:
# Check identity_df
identity_df

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
144229,3577526,-5.0,172059.0,NaN,NaN,1.0,-5.0,NaN,NaN,NaN,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F
144230,3577529,-20.0,632381.0,NaN,NaN,-1.0,-36.0,NaN,NaN,NaN,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,NaN,NaN,0.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
144232,3577534,-45.0,339406.0,NaN,NaN,-10.0,-100.0,NaN,NaN,NaN,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03

In [5]:
# Check transaction_df
transaction_df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Merge identity_df and transaction_df on TransactionID
transaction_merged = pd.merge(identity_df, transaction_df, on=["TransactionID"])

transaction_merged

#transaction_merged = transaction_merged.drop_duplicates()
# All rows are unique

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144229,3577526,-5.0,172059.0,NaN,NaN,1.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144230,3577529,-20.0,632381.0,NaN,NaN,-1.0,-36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
144232,3577534,-45.0,339406.0,NaN,NaN,-10.0,-100.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Clean data and remove colomns with more than 10% missing values
# Calculate the percentage of missing values for each column
missing_percentage = transaction_merged.isnull().mean() * 100

# Reset index to convert the Series to a DataFrame
df_missing_percentage = missing_percentage.reset_index()
df_missing_percentage.columns = ['Column', 'Missing Percentage']

# Identify columns with more than 10% missing values
columns_above_10 = df_missing_percentage[df_missing_percentage['Missing Percentage'] > 10]

# Display columns with more than 10% missing values
drop_columns = columns_above_10 ['Column'].tolist()

df_dropped = transaction_merged.drop(columns=drop_columns)

df_dropped

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_12,id_15,id_17,id_19,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,2987004,0.0,70787.0,NaN,NaN,100.0,NotFound,New,166.0,542.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2987008,-5.0,98945.0,0.0,-5.0,100.0,NotFound,New,166.0,621.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2987010,-5.0,191631.0,0.0,0.0,100.0,NotFound,Found,121.0,410.0,...,90.327904,90.327904,90.327904,90.327904,0.000000,0.000000,0.000000,75.887497,75.887497,75.887497
3,2987011,-5.0,221832.0,0.0,-6.0,100.0,NotFound,New,225.0,176.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2987016,0.0,7460.0,1.0,0.0,100.0,NotFound,Found,166.0,529.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,100.0,NotFound,Found,225.0,427.0,...,60.066002,60.066002,60.066002,60.066002,488.765991,488.765991,488.765991,0.000000,0.000000,0.000000
144229,3577526,-5.0,172059.0,1.0,-5.0,100.0,NotFound,New,166.0,352.0,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144230,3577529,-20.0,632381.0,-1.0,-36.0,100.0,NotFound,New,225.0,567.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144231,3577531,-5.0,55528.0,0.0,-7.0,100.0,NotFound,Found,166.0,352.0,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144232,3577534,-45.0,339406.0,-10.0,-100.0,100.0,NotFound,New,225.0,417.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
# Identify non-numeric columns
non_numeric_cols = df_dropped.select_dtypes(include=['object']).columns
print("Non-numeric columns:", non_numeric_cols)

Non-numeric columns: Index(['id_12', 'id_15', 'id_28', 'id_29', 'id_31', 'id_35', 'id_36', 'id_37',
       'id_38', 'DeviceType', 'ProductCD', 'card4', 'card6', 'P_emaildomain',
       'R_emaildomain'],
      dtype='object')

In [9]:
# Handle non-numeric data
df_dropped_dummies = pd.get_dummies(df_dropped, columns=non_numeric_cols)
df_dropped_dummies

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_17,id_19,id_20,isFraud,...,R_emaildomain_web.de,R_emaildomain_windstream.net,R_emaildomain_yahoo.co.jp,R_emaildomain_yahoo.co.uk,R_emaildomain_yahoo.com,R_emaildomain_yahoo.com.mx,R_emaildomain_yahoo.de,R_emaildomain_yahoo.es,R_emaildomain_yahoo.fr,R_emaildomain_ymail.com
0,2987004,0.0,70787.0,NaN,NaN,100.0,166.0,542.0,144.0,0,...,False,False,False,False,False,False,False,False,False,False
1,2987008,-5.0,98945.0,0.0,-5.0,100.0,166.0,621.0,500.0,0,...,False,False,False,False,False,False,False,False,False,False
2,2987010,-5.0,191631.0,0.0,0.0,100.0,121.0,410.0,142.0,0,...,False,False,False,False,False,False,False,False,False,False
3,2987011,-5.0,221832.0,0.0,-6.0,100.0,225.0,176.0,507.0,0,...,False,False,False,False,False,False,False,False,False,False
4,2987016,0.0,7460.0,1.0,0.0,100.0,166.0,529.0,575.0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,100.0,225.0,427.0,139.0,0,...,False,False,False,False,False,False,False,False,True,False
144229,3577526,-5.0,172059.0,1.0,-5.0,100.0,166.0,352.0,333.0,1,...,False,False,False,False,False,False,False,False,False,False
144230,3577529,-20.0,632381.0,-1.0,-36.0,100.0,225.0,567.0,411.0,0,...,False,False,False,False,False,False,False,False,False,False
144231,3577531,-5.0,55528.0,0.0,-7.0,100.0,166.0,352.0,368.0,0,...,False,False,False,False,False,False,False,False,False,False
144232,3577534,-45.0,339406.0,-10.0,-100.0,100.0,225.0,417.0,595.0,0,...,False,False,False,False,False,False,False,False,False,False

In [11]:
# Check again non-numeric columns
non_numeric_cols = df_dropped_dummies.select_dtypes(include=['object']).columns
print("Non-numeric columns:", non_numeric_cols)

Non-numeric columns: Index([], dtype='object')

In [ ]:
#distinct_id11 = df_dropped['id_11'].unique()
#distinct_id11

#df_dropped['id_11'] = df_dropped['id_11'].replace('NotFound', '0')
#df_dropped

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_12,id_15,id_17,id_19,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,2987004,0.0,70787.0,NaN,NaN,100.0,NotFound,New,166.0,542.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2987008,-5.0,98945.0,0.0,-5.0,100.0,NotFound,New,166.0,621.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2987010,-5.0,191631.0,0.0,0.0,100.0,NotFound,Found,121.0,410.0,...,90.327904,90.327904,90.327904,90.327904,0.000000,0.000000,0.000000,75.887497,75.887497,75.887497
3,2987011,-5.0,221832.0,0.0,-6.0,100.0,NotFound,New,225.0,176.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2987016,0.0,7460.0,1.0,0.0,100.0,NotFound,Found,166.0,529.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,100.0,NotFound,Found,225.0,427.0,...,60.066002,60.066002,60.066002,60.066002,488.765991,488.765991,488.765991,0.000000,0.000000,0.000000
144229,3577526,-5.0,172059.0,1.0,-5.0,100.0,NotFound,New,166.0,352.0,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144230,3577529,-20.0,632381.0,-1.0,-36.0,100.0,NotFound,New,225.0,567.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144231,3577531,-5.0,55528.0,0.0,-7.0,100.0,NotFound,Found,166.0,352.0,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144232,3577534,-45.0,339406.0,-10.0,-100.0,100.0,NotFound,New,225.0,417.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
#distinct_id12 = df_dropped['id_12'].unique()
#distinct_id12

#df_dropped['id_12'] = df_dropped['id_12'].replace('NotFound', '0')
#df_dropped['id_12'] = df_dropped['id_12'].replace('Found', '1')
#df_dropped

/var/folders/62/f2x4shss4kq25jc_zwqwlh740000gn/T/ipykernel_4185/2297519897.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['id_12'] = df_dropped['id_12'].replace('NotFound', '0')
/var/folders/62/f2x4shss4kq25jc_zwqwlh740000gn/T/ipykernel_4185/2297519897.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['id_12'] = df_dropped['id_12'].replace('Found', '1')

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_12,id_15,id_17,id_19,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
2,2987010,-5.0,191631.0,0.0,0.0,100.0,0,2,121.0,410.0,...,90.327904,90.327904,90.327904,90.327904,0.000000,0.000000,0.000000,75.887497,75.887497,75.887497
3,2987011,-5.0,221832.0,0.0,-6.0,100.0,0,1,225.0,176.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2987040,-10.0,116098.0,0.0,0.0,100.0,0,2,121.0,410.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2987048,-5.0,257037.0,0.0,0.0,100.0,0,1,225.0,484.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2987049,-5.0,287959.0,1.0,-11.0,100.0,0,1,225.0,254.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144224,3577499,-5.0,89753.0,0.0,0.0,100.0,0,2,225.0,427.0,...,87.767998,87.767998,87.767998,87.767998,643.632019,643.632019,643.632019,0.000000,0.000000,0.000000
144225,3577501,-5.0,59763.0,0.0,0.0,100.0,0,2,225.0,427.0,...,0.000000,0.000000,0.000000,0.000000,58.512001,58.512001,58.512001,0.000000,0.000000,0.000000
144227,3577509,-5.0,253305.0,0.0,-30.0,100.0,0,2,225.0,384.0,...,39.839001,39.839001,39.839001,39.839001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144228,3577521,-15.0,145955.0,0.0,0.0,100.0,0,2,225.0,427.0,...,60.066002,60.066002,60.066002,60.066002,488.765991,488.765991,488.765991,0.000000,0.000000,0.000000
144230,3577529,-20.0,632381.0,-1.0,-36.0,100.0,0,1,225.0,567.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
#distinct_id15 = df_dropped['id_15'].unique()
#distinct_id15

#df_dropped['id_15'] = df_dropped['id_15'].replace('New', '1')
#df_dropped['id_15'] = df_dropped['id_15'].replace('Found', '2')
#df_dropped['id_15'] = df_dropped['id_15'].replace('Unknown', '3')
#df_dropped

/var/folders/62/f2x4shss4kq25jc_zwqwlh740000gn/T/ipykernel_4185/410768270.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['id_15'] = df_dropped['id_15'].replace('New', '1')
/var/folders/62/f2x4shss4kq25jc_zwqwlh740000gn/T/ipykernel_4185/410768270.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['id_15'] = df_dropped['id_15'].replace('Found', '2')
/var/folders/62/f2x4shss4kq25jc_zwqwlh740000gn/T/ipykernel_4185/410768270.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['id_15'] = df_dropped['id_15'].replace('Unknown', '3')

,TransactionID,id_01,id_02,id_05,id_06,id_11,id_12,id_15,id_17,id_19,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
2,2987010,-5.0,191631.0,0.0,0.0,100.0,0,2,121.0,410.0,...,90.327904,90.327904,90.327904,90.327904,0.000000,0.000000,0.000000,75.887497,75.887497,75.887497
3,2987011,-5.0,221832.0,0.0,-6.0,100.0,0,1,225.0,176.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2987040,-10.0,116098.0,0.0,0.0,100.0,0,2,121.0,410.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2987048,-5.0,257037.0,0.0,0.0,100.0,0,1,225.0,484.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2987049,-5.0,287959.0,1.0,-11.0,100.0,0,1,225.0,254.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144224,3577499,-5.0,89753.0,0.0,0.0,100.0,0,2,225.0,427.0,...,87.767998,87.767998,87.767998,87.767998,643.632019,643.632019,643.632019,0.000000,0.000000,0.000000
144225,3577501,-5.0,59763.0,0.0,0.0,100.0,0,2,225.0,427.0,...,0.000000,0.000000,0.000000,0.000000,58.512001,58.512001,58.512001,0.000000,0.000000,0.000000
144227,3577509,-5.0,253305.0,0.0,-30.0,100.0,0,2,225.0,384.0,...,39.839001,39.839001,39.839001,39.839001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144228,3577521,-15.0,145955.0,0.0,0.0,100.0,0,2,225.0,427.0,...,60.066002,60.066002,60.066002,60.066002,488.765991,488.765991,488.765991,0.000000,0.000000,0.000000
144230,3577529,-20.0,632381.0,-1.0,-36.0,100.0,0,1,225.0,567.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
#df_dropped.columns

Index(['TransactionID', 'id_01', 'id_02', 'id_05', 'id_06', 'id_11', 'id_12',
       'id_15', 'id_17', 'id_19',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=244)

In [ ]:
#df_dropped.replace('NotFound', None, inplace=True)
#df_dropped = df_dropped.dropna()

In [12]:
# Rename cleaned dataframe, and copy first 80,000 to keep file under 100MB size limit
transaction_cleaned = df_dropped.iloc[:int(80000)]

In [13]:
# Create new csv for merged and cleaned files
transaction_cleaned.to_csv("transaction_cleaned.csv", index=False)